In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [5]:
df = spark.read.json('/home/sai/ex/DF/people.json')

In [6]:
#To show dataframe
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [9]:
#Give schema of the dataframe
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [10]:
#gives list of all dataframe
df.columns

['age', 'name']

In [13]:
#Statistiscal summary of the dataframe
#Only numeric columns
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [14]:
from pyspark.sql.types import StructField,StringType,IntegerType,StructType

In [20]:
#column this being taken is age and it is of integer type
#'True' indicates that this field can be null
new_schema = [StructField('age', IntegerType(), True),
              StructField('name', StringType(), True)]

In [21]:
final_schema = StructType(fields=new_schema)

In [22]:
df = spark.read.json('/home/sai/ex/DF/people.json', schema=final_schema)

In [23]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [24]:
#To get column
type(df['age'])

pyspark.sql.column.Column

In [25]:
#give dataframe of single column
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [28]:
#get first two rows. THis gives row object.
type(df.head(2)[0])

pyspark.sql.types.Row

In [31]:
df.head(2)[0]

Row(age=None, name='Michael')

In [33]:
#to get dataframe of two columns
df.select(['age', 'name'])

DataFrame[age: int, name: string]

In [34]:
#to show these dataframes
df.select(['age', 'name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [38]:
#add new column (name, values)
df.withColumn('new_col', df['age']*2).show()

+----+-------+-------+
| age|   name|new_col|
+----+-------+-------+
|null|Michael|   null|
|  30|   Andy|     60|
|  19| Justin|     38|
+----+-------+-------+

In [40]:
#above col is not inplace. to make it assign it to a new value
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [41]:
#To rename a column
df.withColumnRenamed('age', 'my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [42]:
#with sql
df.createOrReplaceTempView('people')

In [43]:
result = spark.sql("SELECT * FROM people")

In [44]:
result.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [45]:
result1 = spark.sql("SELECT * FROM people WHERE age=19")

In [47]:
result1.show()

+---+------+
|age|  name|
+---+------+
| 19|Justin|
+---+------+